<div class="container-fluid">
  <h3 display="inline-block"> Welcome <%= current_user.name %> to our Cargo System</h3></br>

  <h5> <li>  We are providing one of the best fasciliteis. You can place your order and we will guarantee your order will reach you on time. </li> </h5> </br>

  <h5> <li>  You can also see the status of your request at any time. </li> </h5> </br>

   <h5> <li> Besides this once you placed an order you can delete it or edit it before our agent will accept/confirm your order.  </li> </h5> </br>

   <h5> <li> You can also send us your location via Google Maps by just clicking on "Send Your Location" so that we can send your order to your place with ease. </li> </h5>
</div>